SECRET_KEY=django-insecure-p8v$q9ja4v1ia3iiy2ymg*qv&7pw3c5p7be+7u4gtxptji)thq
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

FRONTEND_URL=http://localhost:5173

CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=mcevik6738@gmail.com
EMAIL_HOST_PASSWORD=quyq ctlw robd kzgc
DEFAULT_FROM_EMAIL=mcevik6738@gmail.com

STRAVA_CLIENT_ID=235231
STRAVA_CLIENT_SECRET=3856cd52dde7005dce6fc3a233b26d7793a5164c

GOOGLE_CLIENT_ID=1085275017199-gtp77vbkp5uc6llt34l32t9iploc43ts.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
PASSWORD_RESET_TIMEOUT=3600

STRIPE_PUBLIC_KEY=pk_test_51TTdXuC9OZTHr1sPpf7zmnzGqukhpXqnHiaIZ7r0QvI2mVzovH8RbKyis5XhDzRsGtNFPTEK5AmFRH9V0vSjqwYS00beNY7tT0
STRIPE_SECRET_KEY=sk_test_51TTdXuC9OZTHr1sPInqI3EqkmuXKqVeUAxgm3a5pUeGje4hxC6qc0EZr4W4QZn6HgenDr5G508VEPGInkjYqTggN00d40TCFSl
STRIPE_WEBHOOK_SECRET=whsec_38ad1071bcde4f1ed3b4977607307198d96c5fe85319be70adc1c126a7bfce8a